#leaderboard tr {
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    text-shadow: 3px 3px red;
    text-transform: uppercase;
    padding-bottom: 1%;
    white-space: nowrap;
    overflow: hidden;
}
#leaderboard {
    position:absolute;
    top: 0px;
    padding-top:20px;
    padding-left:20px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background: #00ff00;
    overflow: hidden;
    
}
#title {
    font-family: 'Press Start 2P', cursive;
    text-shadow: 3px 3px red;
    color: orange;
    width: 100%;
    height: 80px;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
}

/* styles for the 3 main fields */
.plrRnk{
    padding-right: 50px;
    text-align: right;
    width: 175px;
}
.plrScore{
    position: absolute;
    width: 200px;
    align-content: center;
    text-align: center;
    overflow: hidden;
}
.plrName {
    width: 1470px;
}

/* Sizes for scoring players trNum00 is default for all players past the 5th position */
.trNum00{
  font-size: 21px;
}
.trNum00Plus{
  font-size: 45px;
}
.trNum01{
  font-size: 90px;
}
.trNum02{
  font-size: 80px
}
.trNum03{
  font-size: 70px
}
.trNum04{
  font-size: 60px
}
.trNum05{
  font-size: 55px
}