#leaderboard tr {
    font-family: 'Press Start 2P', cursive;
    color: yellow;
    text-shadow: 3px 3px red;
    text-transform: uppercase;
    padding-bottom: 1%;

    white-space: nowrap;
}
#leaderboard {
    position:absolute;
    top: 0px;
    padding-top:20px;
    padding-left:20px;
    left: 0px;
    width: 1920px;
    height: 1080px;
    background: #00ff00;
}
#title {
    font-family: 'Press Start 2P', cursive;
    text-shadow: 3px 3px red;
    color: orange;
    width: 100%;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
}
tbody tr:first-child {
    text-align: right;
}